body{
        font-family: Arial, sans-serif;
        background: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .quiz-box{
        background: white;
        padding: 20px;
        width: 350px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        text-align: center;
    }

    h2{
        margin-bottom: 20px;
    }

    button{
        display: block;
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: none;
        border-radius: 5px;
        background: #3498db;
        color: white;
        cursor: pointer;
    }

    button:hover{
        background: #2980b9;
    }

    #result{
        margin-top: 15px;
        font-weight: bold;
    }
    h1 {
    text-align: center;
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f4f4f4;
}
